/* Navbar.css */
*{
    font-family: sans-serif;
}
.navbar-container {
    background-color: #FAF9F6; /* Example background color */
    padding: 0.5rem 4.75rem; /* Example padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    position: sticky; /* For sticky navbar */
    top: 0;
  
    z-index: 100; /* Ensure it's above other content */
}
  
.navbar-content {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    /* max-width: 1200px; /* Set a maximum width for larger screens */
    margin: 0 auto;
}
  
.navbar-logo {
    /* Style your logo container */
}
  
.navbar-logo-img {
    height: 40px; /* Adjust as needed */
}
  
.navbar-nav {
    list-style: none;
  
    display: flex;
    gap: 20px;
}
  
.navbar-nav-item {
    margin-left: 20px; /* Spacing between nav items */
}
  
.navbar-nav-link {
    text-decoration: none;
    color: #333; /* Example text color */
    font-weight: 300;
    transition: color 0.3s; /* Smooth color transition on hover */
}
  
.navbar-nav-link.active {
    color: #DA231D; /* Example active link color */
    text-decoration: underline; /* Underline active link */
    text-underline-offset: 4px; /* Space between underline and text */
}
  
.navbar-nav-link:hover {
    color: #007bff; /* Example hover color */
}
  
.navbar-icons {
    display: flex; /* Arrange icons horizontally */
    align-items: center;
    gap: 15px; /* Vertically align icons */
    font-size: 1em; /* Adjust icon size */
}
  
.navbar-icon {
    margin-left: 15px; /* Spacing between icons */
    color: #333;
    font-size: 1.2em; /* Adjust icon size as needed */
    text-decoration: none;
    transition: color 0.3s;
}
  
.navbar-icon:hover {
    color: #007bff;
}
  
/* Responsive design (example) */
@media (max-width: 768px) {
    .navbar-nav {
        display: none; /* Hide nav on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-nav-item {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }
  
    .navbar-toggle {
        display: block; /* Show toggle button */
        cursor: pointer;
        font-size: 1.5em;
        color: #333;
    }
}
  
/* Hide toggle button on larger screens */
.navbar-toggle {
    display: none;
}

/* Navbar.css */
.navbar-icon {
    /* ... existing styles */
    font-size: 1.2em; /* Adjust size */
    color: #333; /* Change color */
  }
  
  .navbar-icon:hover {
      color: #DA231D;
  }
  
  .navbar-icon svg { /* Target the SVG element directly */
      width: 1.2em; /* Control icon width */
      height: 1.2em; /* Control icon height */
  }