/* TestimonialSlider.css */
.testimonial-container {
    /* background-color: #f2f2f2; */
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-heading {
    text-align: center;
    margin-bottom: 40px;
}

.testimonial-heading h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.testimonial-heading p {
    color: #666;
}

.testimonial-slider {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 80%;
    /* max-width: 900px; */
    /* margin: 0 auto; */
}

.testimonial {
    display: flex;
    background-color: white;
    padding: 30px;
    gap: 30px;
    background-color: transparent;
    
    /*border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; For absolute positioning of quote */
}

.testimonial-image {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-icon {
    font-size: 10em;
    color: #ccc;
    position: absolute;
    top: -10px;
    left: -10px;
    font-family: serif;
}

.testimonial-text {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
}

.testimonial-author {
    text-align: left;
}

.author-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.author-title {
    color: #777;
    font-size: 0.9em;
}

.testimonial-controls {
    
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 20px; /* Increased gap */
     /* Center horizontally */
}

.control-button {
    width: 50px; /* Increased button size */
    height: 50px;
    border-radius: 20%;
    border: 2px solid #7777777b ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; /* Increased icon size */
    background-color: transparent;
    transition: background-color 0.3s, transform 0.2s, border-color 0.3s, color 0.3s; /* Added transform for hover */
    color: #777;
}

.control-button:hover {
    border: 2px solid red; /* Added border on click */
    color: red; /* Change icon color on click */
}

.control-button:active {
    /* border: 2px solid red; */
    /* background-color: #f0f0f0; */
    transform: scale(1.1); /* Scale up on hover */
}

.prev-button {

}

.next-button {

}

/* Responsive adjustments */
@media (max-width: 768px) {
    .testimonial {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .testimonial-image {
        margin: 0 0 20px 0;
    }
    .testimonial-content{
        text-align: left;
    }
    .testimonial-controls{
        bottom: -40px;
    }
}

