.cart-summary {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
  }
  
  .cart-summary ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cart-summary ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-summary .jenkate-mw button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .cart-summary .total {
    margin-top: 20px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .cart-summary {
      border: none;
      padding: 0px;
      width: 100%;
    }
  }