/* Add file name prefix to all class names */
.ProductItem-product-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }
  
  .ProductItem-product-image {
    width: 100px;
    /* height: 100px; */
    margin-right: 15px;
    
  }
  
  .ProductItem-placeholder-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
  }
  
  .ProductItem-product-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    flex-grow: 1;
  }
  
  .ProductItem-product-name {
    font-weight: bold;
    text-align: justify;
  }
  
  .ProductItem-product-quantity,
  .ProductItem-product-price,
  .ProductItem-product-subtotal {
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
  }
  .product-image-detail-root{
    display: flex;
    flex-direction: row;
    justify-content: start;

  }
  .ProductItem-product-q{
    display: none;
    font-size: 20;
  }
  .ProductItem-product-exchange{
    color: red;
    font-family: sans-serif;
    /* padding:10px; */
    }
    /* .ProductItem-product-exchange:hover{
      color: white;
      background-color: rgba(223, 25, 25, 0.903);
      transition: all 0.2s ease-in-out;
      border-radius: 10px;
    } */
  @media (max-width: 768px) {
    .ProductItem-product-q{
      display: inline;
    }
    .ProductItem-product-quantity, .ProductItem-product-price{
      display: none;
    }
    .ProductItem-product-item {
      align-items: end;
    }
  }
  .exchanghe-status{
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 40px 0px 0px 0px;
}
  /* Add more CSS for styling as needed */