.privacy-policy-container {
   width: 100%;
    text-align: justify;
    height: 100%;
    overflow-y: scroll;


  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  ul {
    
    margin-left: 2rem;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }